ha-plc.iml
.idea/aws.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
ha/config/.gitkeep
ha/config/.HA_VERSION
ha/config/automations.yaml
ha/config/configuration.yaml
ha/config/home-assistant.log
ha/config/home-assistant.log.1
ha/config/home-assistant.log.fault
ha/config/home-assistant_v2.db
ha/config/home-assistant_v2.db-shm
ha/config/home-assistant_v2.db-wal
ha/config/scenes.yaml
ha/config/scripts.yaml
ha/config/secrets.yaml
ha/config/.storage/assist_pipeline.pipelines
ha/config/.storage/auth
ha/config/.storage/auth_provider.homeassistant
ha/config/.storage/core.analytics
ha/config/.storage/core.area_registry
ha/config/.storage/core.config
ha/config/.storage/core.config_entries
ha/config/.storage/core.device_registry
ha/config/.storage/core.entity_registry
ha/config/.storage/core.restore_state
ha/config/.storage/core.uuid
ha/config/.storage/homeassistant.exposed_entities
ha/config/.storage/http
ha/config/.storage/http.auth
ha/config/.storage/onboarding
ha/config/.storage/person
ha/config/.storage/repairs.issue_registry
ha/config/.storage/trace.saved_traces
ha/config/blueprints/automation/homeassistant/motion_light.yaml
ha/config/blueprints/automation/homeassistant/notify_leaving_zone.yaml
ha/config/blueprints/script/homeassistant/confirmable_notification.yaml
plc/log/PLCComS.log
